label {
  width: 75px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 244, 255, 0.4);
  cursor: pointer;
}
label::after {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg, #abb7d7, #2b5cd6);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left: 73px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label,
label:after {
  transition: 0.3s;
}
label:active:after {
  width: 34px;
}
input:checked + label + .background {
  background: #242424;
}
