/* apply a font family and size to the whole page */
* {
  box-sizing: border-box;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 20px;
}

body {
  margin: 5px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: #747474;
}

title {
  display: flex;
  justify-content: space-evenly;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  border: 8px solid #aff3c6;
  border-radius: 10px;
  color: #aff3c6;
  position: fixed;
  min-width: 99vw;
  margin-bottom: 3%;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 150%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  list-style: none;
}

nav li {
  padding: 5px;
}

nav a {
  color: #aff3c6;
  font-weight: bold;
  text-decoration: none;
}

/* allow the text color on the nav elements to change when hovered. */
nav a:hover {
  color: #fff;
}

/* create a flex container for the main element. */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

section {
  display: flex;
  background-color: #fff;
  min-width: 100vw;
  padding: 10%;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
}
aside {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
}

/* set the size of the image of myself in the aboutme */
img {
  width: 33.33%;
  padding: 2px;
}

footer {
  display: flex;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  background: black;
  color: #aff3c6;
  margin-top: auto;
  min-width: 100vw;
  justify-content: center;
  font-size: 150%;
}

h2 {
  border-right: 1px solid black;
  padding-right: 3%;
}

h3 {
  border-bottom: 1px solid black;
  padding-bottom: 3%;
}
p {
  padding: 1%;
}

/* adjust the margin on the about me to give the header some room */
#about-me {
  display: flex;
  margin-top: 5%;
}

/* structure the mywork id to look like the others */
#mywork {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.apps {
  display: flex;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}

.apps h2 {
  border-right: none;
  border-bottom: 1px solid black;
}

.apps img {
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
}

/* change the opacity of the image links to my apps when the mouse hovers over them */
.apps a:hover img {
  opacity: 0.4;
}
/* make the first app on the mywork segment appear larger than the others */
.topapp img {
  min-width: 50vw;
  margin-top: 0;
}

/* make the label stick to the top of the topapp img and round it to match */
.topapp-txt {
  position: absolute;
  padding: 8px;
  background: #000000;
  color: #aff3c6;
  border-radius: 10px 0 0 0;
  margin: 2px 2px;
}

.otherapps {
  flex-wrap: wrap;
  align-self: flex-start;
  flex-direction: row;
}

/* make the label stick to the top of the otherapps imgs and round them to match */
.otherapps-txt {
  position: absolute;
  background: #000000;
  color: #aff3c6;
  padding: 5px;
  border-radius: 10px 0 0 0;
  margin: 2px 2px;
}

/* align the contact form */
#contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

/* align the mylinks and change the color to make the user know that it is interactive */
.mylinks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

/* set paramaters for the mylinks links and make sure they do not appear until hovered */
.mylinks .links {
  display: none;
  text-decoration: none;
  color: #000000;
  position: relative;
}

/* when the mouse hovers over mylinks it shows the list items */
.mylinks:hover .links {
  display: block;
}

/* apply radius and shadow to the picture of myself */
.tommypic {
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
}

/* create media query to make the color change slightly and items stack when the screen size shrinks or is displayed on mobile */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  header {
    background: #595453;
  }
  nav,
  footer {
    background-color: #595453;
  }
}
