/* STYLING CREATED WITH: https://wweb.dev/resources/animated-css-background-generator/ */

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgb(245, 249, 245);
  overflow: hidden;
}
.toggleActive {
  background: #515261;
}

.toggleActive li {
  background: rgb(38, 90, 200);
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 31s linear infinite;
}

.background li:nth-child(0) {
  left: 60%;
  width: 89px;
  height: 89px;
  bottom: -89px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 10%;
  width: 187px;
  height: 187px;
  bottom: -187px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 16%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 3s;
}
.background li:nth-child(3) {
  left: 40%;
  width: 118px;
  height: 118px;
  bottom: -118px;
  animation-delay: 8s;
}
.background li:nth-child(4) {
  left: 2%;
  width: 143px;
  height: 143px;
  bottom: -143px;
  animation-delay: 6s;
}
.background li:nth-child(5) {
  left: 83%;
  width: 192px;
  height: 192px;
  bottom: -192px;
  animation-delay: 18s;
}
.background li:nth-child(6) {
  left: 1%;
  width: 173px;
  height: 173px;
  bottom: -173px;
  animation-delay: 15s;
}
.background li:nth-child(7) {
  left: 40%;
  width: 88px;
  height: 88px;
  bottom: -88px;
  animation-delay: 17s;
}
.background li:nth-child(8) {
  left: 7%;
  width: 144px;
  height: 144px;
  bottom: -144px;
  animation-delay: 3s;
}
.background li:nth-child(9) {
  left: 72%;
  width: 84px;
  height: 84px;
  bottom: -84px;
  animation-delay: 23s;
}
.background li:nth-child(10) {
  left: 17%;
  width: 192px;
  height: 192px;
  bottom: -192px;
  animation-delay: 49s;
}
.background li:nth-child(11) {
  left: 60%;
  width: 98px;
  height: 98px;
  bottom: -98px;
  animation-delay: 40s;
}
.background li:nth-child(12) {
  left: 23%;
  width: 140px;
  height: 140px;
  bottom: -140px;
  animation-delay: 9s;
}
.background li:nth-child(13) {
  left: 79%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 14s;
}
.background li:nth-child(14) {
  left: 22%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 43s;
}
.background li:nth-child(15) {
  left: 15%;
  width: 187px;
  height: 187px;
  bottom: -187px;
  animation-delay: 34s;
}
.background li:nth-child(16) {
  left: 49%;
  width: 96px;
  height: 96px;
  bottom: -96px;
  animation-delay: 68s;
}
.background li:nth-child(17) {
  left: 34%;
  width: 124px;
  height: 124px;
  bottom: -124px;
  animation-delay: 58s;
}
.background li:nth-child(18) {
  left: 37%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 41s;
}
.background li:nth-child(19) {
  left: 35%;
  width: 196px;
  height: 196px;
  bottom: -196px;
  animation-delay: 55s;
}
.background li:nth-child(20) {
  left: 87%;
  width: 181px;
  height: 181px;
  bottom: -181px;
  animation-delay: 70s;
}
.background li:nth-child(21) {
  left: 32%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 53s;
}
.background li:nth-child(22) {
  left: 66%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 37s;
}
.background li:nth-child(23) {
  left: 76%;
  width: 174px;
  height: 174px;
  bottom: -174px;
  animation-delay: 86s;
}
.background li:nth-child(24) {
  left: 10%;
  width: 171px;
  height: 171px;
  bottom: -171px;
  animation-delay: 46s;
}
.background li:nth-child(25) {
  left: 43%;
  width: 115px;
  height: 115px;
  bottom: -115px;
  animation-delay: 37s;
}
